---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hello"
	pubDate={new Date('July 01 2026')}
>
	<p>
	I love building stuff. Ping me if you have any ideas.
	</p>

	<p>
	I like solving puzzles, problems and trying to figure out how things work under the hood.
	</p>

	<p>
	I'm currently exploring the world of systems engineering, type theory, formal verification, and high-performance systems.
	</p>
</Layout>
